@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

body {
  background: linear-gradient(#81a1c1, #8fbcbb);
  color: #2e3440;
}

#root {
  font-family: "Inter", sans-serif;
  @apply flex min-h-lvh items-center justify-center py-10;
}
